<%- include('../partials/head') %>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    
    header {
        margin-bottom: 2rem;
    }

    .container {
         margin: 3rem;
    }

    .center {
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        padding: 2rem 2.5rem;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    }

    .center h1 {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        color: #333;
    }

    .center form {
        display: flex;
        flex-direction: column;
    }

    .input {
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
    }

    .input:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    }

    .btn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 0.75rem;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        text-transform: uppercase;
    }

    .btn:hover {
        background-color: #218838;
    }

    p {
        color: red;
        text-align: center;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    a[href='/login'] {
        display: block;
        color: #333;
        margin: 1rem auto;
        text-decoration: none;
    }

    a[href='/login']:hover {
        color: gray;
    }

    .or {
        margin: 0 auto 1rem;
    }
</style>
</head>

<body>
    <main>
        <header>
            <%- include('../partials/nav', { isLoggedIn: isLoggedIn }) %>
        </header>
        <div class="container">
        <div class="center">

            <div>
                <h1>Sign Up</h1>
            </div>

            <% if (error_msg) { %>
                <p><%= error_msg %></p>
            <% } %>

            <form action="/signup" method="post" novalidate>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

                <input type="email" name="email" placeholder="Email" class="input" required />

                <input type="password" name="password" placeholder="Password" class="input" required />

                <input type="password" name="confirmedPassword" placeholder="Confirm Password" class="input" required />
                <a href="/login">Login</a>
                <div class="or">or</div>
                <button class="btn" type="submit">Sign Up</button>
            </form>
        </div>
        </div>
    </main>
<%- include('../partials/end') %>
